// .....................Reviews....................
.reviews {
    padding: 70px 15px;
    text-align: center;
  }
  
  .reviews__cards {
    margin-top: 83px;
  }
  
  @media (max-width: 992px) {
    .reviews__card {
      margin-bottom: 35px;
    }
  }
  